body {
  padding-top: 50px;
}

table.table tr td .btn.edit {
  display:none;
  position:absolute;
  margin-left: 5px;
}

table.table tr:hover td .btn.edit {
  display:inline-block;
}
.amount-input-product {
  display:none;
}

li .btn.edit {
  display:none;
  position:absolute;
  margin-left: 5px;
}

li:hover .btn.edit {
  display:inline-block;
}

input.output-input {
  width:60px;
}

.price_unknown {
  color:red;
}
