{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LOst Food Bestellsystem</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">

    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css">
    <!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
    <!--<link href="{% static 'css/styles.css' %}" rel="stylesheet">-->
  </head>

    <body>
    <div id="wrapper">

        <div id="header"><h1>LOstFoodCoop Bestellsystem</h1></div>

        <nav id="menu" role="navigation">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'order_bundle_list' %}">Bestellungen</a></li>
                <li><a href="{% url 'order_bundle_newest' %}">Aktuelle Bestellung</a></li>
                <li><a href="{% url 'order_group_list' %}">Bestellgruppen</a></li>
                <li><a href="{% url 'order_product_formset' %}">Produkte</a></li>
            </ul>
            <!--<div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'order_bundle_list' %}">Bestellungen</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'order_bundle_newest' %}">Aktuelle Bestellung</a></li>
                <li><a href="{% url 'order_group_list' %}">Bestellgruppen</a></li>
                <li><a href="{% url 'order_product_formset' %}">Produkte</a></li>
              </ul>
            </div>
            </div>--><!--/.nav-collapse -->
        </nav>

        <div id="content">
          {% block content %}{% endblock %}
        </div><!-- /.container -->
        
        <div id="footer">
            <nav id="foot">
                <ul>
                    <li><a href="http://lost-food.de/impressum" target="_blank" title="Impressum auf der LOst-Food Website">Impressum</a></li>
                    <li><a href="http://lost-food.de" target="_blank" title="Website von LOst Food">Website</a></li>
                </ul>
            </nav>
        </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
    {% block javascript %}{% endblock %}
    </script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
