{% extends 'base.html' %}

{% block content %}
<h1>{{ bundle }}</h1>

<form action="" method="get">
  {{ group_form }}
  <input class="btn btn-success btn-xs" type="submit" value="Neu Laden">
</form>
<strong>Preis:</strong> <span id="order_costs">{{ costs }}</span> €

<form action="" method="post">{% csrf_token %}
  <table class="table table-striped">
    <tr>
      <th>Produkt</th>
      <th>Preis</th>
      {% if active_group %}
        <th>Bestellung</th>
      {% endif %}
    </tr>

    {% for product in products %}
      <tr>
        <td>
          {{ product.name }}
          <a href="{{ product.get_absolute_url }}" class="btn btn-default btn-xs edit" aria-label="Left Align">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>

        <td>{{ product.price|floatformat:2 }} € / {{ product.unit.price }}</td>
        {% if active_group %}<td>
          {% if bundle.open %}
            <span class="amount-input">{{ product.form.amount }}<span class="amount-input-product">{{ product.pk }}</span></span>
          {% else %}
            {{ product.form.amount.value }}
          {% endif %}
          {{ product.unit.order }}
        </td>{% endif %}
      </tr>
    {% endfor %}
  </table>

  {% if bundle.open %}
  <input class="btn btn-success" type="submit" value="Bestellung speichern">
  {% endif %}
</form>

{% if bundle.open %}
  <a href="{% url 'order_bundle_close' bundle.pk %}" class="btn btn-info">
    <span class="glyphicon glyphicon-check"></span>
    Bestellung beenden
  </a>
{% else %}
  <a href="{% url 'order_bundle_open' bundle.pk %}" class="btn btn-info">
    <span class="glyphicon glyphicon-check"></span>
    Bestellung wieder öffnen
  </a>
{% endif %}
<div><a href="{% url 'order_bundle_order' bundle.pk %}">Bestellübersicht</a></div>
<div><a href="{% url 'order_bundle_output' bundle.pk %}">Essensausgabe</a></div>
{% endblock %}

{% block javascript %}
ORDER_AJAX_URL = "{{ bundle.get_absolute_url }}";
{% endblock %}
