{% extends 'base.html' %}

{% block content %}
<h1>Bestellungen</h1>

<nav id="set">
<ul>
    <li>
        <a href="{% url 'order_bundle_create' %}">
            <span class="icon icon-add">Bestellung hinzufügen</span>
        </a>
    </li>
</ul>
</nav>

<!--<ul>
{% for bundle in bundle_list %}
  <li>
    <a href="{{ bundle.get_absolute_url }}">{{ bundle }}</a>
    <a href="{% url 'order_bundle_delete' bundle.pk %}" class="btn btn-default btn-xs edit" aria-label="Left Align">
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">x</span>
    </a>
  </li>
{% endfor %}
</ul>-->

<table>
    <tr>
        <th>Bestellung</th>
        <th>Status</th>
        <th>Löschen</th>
    </tr>
    {% for bundle in bundle_list reversed %}
    <tr{% if bundle.open == 1 %} class="active"{% endif %}>
        <td><a href="{{ bundle.get_absolute_url }}">Bestellung vom {{ bundle.start|date:"d.m.Y" }}</a></td>
        <td>
            {% if bundle.open == 1 %}Offen{% else %}Abgeschl.{% endif %}
        </td>
        <td class="center">
            <a href="{% url 'order_bundle_delete' bundle.pk %}" aria-label="Left Align">
                <span class="icon icon-del" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
